<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List all functions</title>
</head>
<style>
.button{
    width: 30%;
    margin-left: 500px;
    }
.layer1{
    width:100%;
    height: 250px;
    background: cornflowerblue;
}
.form{
    align-content: center;
}
</style>
<body>
<div class="layer1">
    <form action="add" target="_blank" class="form">
        <button name="button1" class="button">Добавление элемента</button>
    </form>
    <form action="list" target="_blank" class="form">
        <button name="button2" class="button">Список элементов</button>
    </form>
</div>
</body>

</html>